.container {
    background: #ffffff url('./thor_cover.jpg') no-repeat left top;
    background-size: cover;
    height: 300px;
}

.bannerHeading {
    color: #ffffff;
    padding: 12px;
    font-size: 32px;
}